body{
	font-size: 16px;
	color:black;
	background-color: #E3E2DF ;
	font-family: 'Oxygen Mono', monospace;

}
#header-nav{
	background-color: rgba(50, 115, 220, 0.3);
	border-radius:0;
	border:0;

}
#logo-img{
	background: url("logo.png") no-repeat;
	width: 270px;
	height: 250px;
	margin:10px 15px 10px 0px;
	/*float:left; */

}
.navbar-brand{
  padding-top:25px;

}
#best h1{
 font-family: 'Open Sans', sans-serif;
  color:black;
  width:400px;
  font-size:3.0em;
  text-transform: uppercase;
  font-weight:bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom:10px;
  line-height: 1;

}
#best a:hover {
   text-decoration:none ;
} 
#best p{   /* India's best restaurent*/
   color:#829356;
font-family: 'Sacramento', cursive;
   font-size:1em; 
   vertical-align:middle;
    margin-top:15px;
}

#best{
	vertical-align:middle;
}
#phone_num{
	color:#829356;
font-family: 'Sacramento', cursive;
   font-size:1.3em; 
   vertical-align:middle;
    margin-top:15px;
}
.main-image img{
border: 2px solid black;
	display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height:auto;
}
#main-image-mobile img{

	display: block;
	padding:0px;
	border:0px;
  margin-left: 10%;
  margin-right: 20%;
  width: 70%;
  height:auto;
}