<div id="main-content" class="row container">
    <div class="col-md-6 textDiv">
        <!-- menu categories starts -->
        <h1 style="text-align: center ; font-style:italic; color:rgba(12, 200, 220, 0.3)">About Lunch Box – North Indian
            Food Court in India </h1>
        <p style="text-align: center ; font-style:italic; color:rgba(12, 200, 220, 0.3) font-size:10px"> Lunch Box is
            one of the recognized venture of Swati Group which has got experience of more than three decades</br> in
            operating Government Licensed lotteries across India entered into hospitality industry with the inclusion of
            two hotels “Swati” and “Swati Deluxe” </br>and two restaurants namely “Suruchi” and “Shudh” one in each
            hotel. Both units are situated in city centre of Patna at Karol Bagh.
            Lunch Box is the first pearl in the necklace of Hospitality section of Swati Group. It has 28 beautifully
            decorated rooms.

            Lunch Box has 44 rooms with more facilities and added features. </p>
        <h3 style="text-align: center ; font-style:italic; color:rgba(12, 200, 220, 0.3)"> Lunch Box is a destination
            for the food lovers who look for authentic Gujrati, Rajasthani cuisine and Mumbai snacks. The Suruchi
            Restaurant, serve the finest traditional Indian cuisine served in traditional style. </h3>
    </div>
    <div class="col-md-6 bgImg">
        <img src="/css/rest-image_768.jpg" alt="picture of restaurent" class="img-responsive">
    </div>
</div>