
<div id="main-content" class="row container">

</div><!-- menu categories starts -->
 <h1 style= "text-align: center ; font-style:italic; color:rgba(12, 200, 220, 0.3)"> your Trust is our Reward </h1>
 <h2 style= "text-align: center ; color:#E3E2DF"> > Thanks for visiting < </h2>
<h3 style= "text-align: center ; font-style:italic; color:rgba(12, 200, 220, 0.3)"> source code -> 
<a href="https://github.com/Anurag-kuswaha/Restaurent_Site" >Github</a>  </h3>
</div>
