


<!-- menu categories starts -->
  <div id="main-content" class="container">
    <h2 id="menu-categories-title" class="text-center"> Menu Categories </h2>
    <div class="text-center"> Don't waste the food </div>
    <section class="row" >
      <div class="col-md-3 col-sm-4  col-xs-6 col-xx-12 Link">
        <a href="/menu/single-categories/starters">
          <div class="category-tile">
            <img width="200" height="200" src="/image/starters.jpg" alt="Starters">
            <span> Starters </span></div>
          </a>
      </div>
        <div class="col-md-3 col-sm-4  col-xs-6 col-xx-12 Link">
        <a href="/menu/single-categories/mainCourse">
          <div class="category-tile">
            <img width="200" height="200" src="/image/mainCourse.jpg" alt=" Main Course">
            <span> Main Course </span></div>
          </a>
      </div>
       <div class="col-md-3 col-sm-4  col-xs-6 col-xx-12 Link">
        <a href="/menu/single-categories/riceAndBiryani">
          <div class="category-tile">
            <img width="200" height="200" src="/image/riceAndBiryani.jpg" alt=" Rice and Biryani">
            <span> Rice and Biryani </span></div>
          </a>
      </div>
        <div class="col-md-3 col-sm-4  col-xs-6 col-xx-12 Link">
        <a href="/menu/single-categories/rolls">
          <div class="category-tile">
            <img width="200" height="200" src="/image/rolls.jpg" alt="Rolls">
            <span> Rolls </span></div>
          </a>
      </div>
       <div class="col-md-3 col-sm-4  col-xs-6 col-xx-12 Link">
        <a href="/menu/single-categories/combosAndThali">
          <div class="category-tile">
            <img width="200" height="200" src="/image/combosAndThali.jpg" alt="Combos and Thali">
            <span> Combos and Thali </span></div>
          </a>
      </div>
      <div class="col-md-3 col-sm-4  col-xs-6 col-xx-12 Link">
        <a href="/menu/single-categories/shorba">
          <div class="category-tile">
            <img width="200" height="200" src="/image/shorba.jpg" alt="Shorba">
            <span> Shorba </span></div>
          </a>
      </div>
        <div class="col-md-3 col-sm-4  col-xs-6 col-xx-12 Link">
        <a href="/menu/single-categories/breads">
          <div class="category-tile">
            <img width="200" height="200" src="/image/breads.jpg" alt="Breads">
            <span> Breads </span></div>
          </a>
      </div>
       <div class="col-md-3 col-sm-4  col-xs-6 col-xx-12 Link">
        <a href="/menu/single-categories/dessertsAndBeverages">
          <div class="category-tile ">
            <img width="200" height="200" src="/image/dessertsAndBeverages.jpg" alt="Desserts and Beverages">
            <span>  Desserts and Beverages</span></div>
          </a>
      </div>
    
    </section>

</div>
 